version: '3.3'

services:
  fast_api:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    volumes:
      - .:/usr/src/personalised_nudges
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=nudges
    ports:
        - "5432:5432"

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile-prod
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - fast_api

volumes:
  postgres_data: